extends layout

block content
  h1= title
  h2= email
  a(href="http://sfciti-registration.herokuapp.com/") Register Another Company
  br
  a(href="http://svangel.com") Return to SV Angel Homepage
  
